<!doctype html>
<html lang="en">
  <head>
    <%- include('../partials/auth_head'); %>
  </%- include('../../src/class.js'); %>
  </head>

  
  <body> 
       <!-- Navbar -->
        <%- include('../partials/auth_navbar'); %>
       <!-- Navbar--> 


    <div class="container">
        <div class="p-5 mb-4 bg-light rounded-3">
            <div class="container-fluid py-5">
              <h1 class="display-5 fw-bold">Kínálat</h1>
              <p class="col-md-8 fs-4">If the page cannot, or did not load properly, refresh it. If the problem still occurs please contact me.</p>
              <button class="btn btn-primary btn-lg" type="button">Example Lorem Ipsum</button>
            </div>
          </div>
        <div class="row">
            <form class="p-5 border rounded-3 bg-light" method="GET" action="/addToList">
              <% var i = 0; %>
              <% JSON.parse(kajak).forEach(function(kaja) {%>
              <div class="col-md-12">
                  <div class="h-100 p-5 text-white bg-dark rounded-3">
                    <h2><%=kaja["FoodID"]%>. <%= kaja["Name"] %></h2>
                    <p>Ár: <%= kaja["Price"] %> Ft.</p>
                    <p>Allergének:
                      <% if(kaja["Allergenes"].length == 0) { %>
                        <p> Nincs benne allergén </p>   
                      <% } else {  %>
                        <% kaja["Allergenes"]%>
                      <% } %> </p>
                      <!-- <input type="hidden" id="kajabox" name="kajabox" readonly="true" value='<%= kaja["FoodID"]%>' >  -->
                      <a href='/addToList?id=<%=kaja["FoodID"]%>' class="stretched-link"> <%=kaja["FoodID"]%>  Megnézem</a>
                    <button class="btn btn-outline-light" type="submit">Kosárhoz adom</button>
                  </div>
                  <hr>
                </div>
                <%  }); %>
              </form>
          </div>
    
       
          

    </div>
    

    <!-- Footer -->
    <%- include('../partials/footer'); %>
    <!-- Footer --> 

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

  </body>
</html>