<!doctype html>
<html lang="en">
  <head>
    <%- include('../partials/auth_head'); %>
  </head>

  
  <body> 
       <!-- Navbar -->
        <%- include('../partials/auth_header'); %>
       <!-- Navbar--> 
   
    <!-- Main-->

    <div class="px-4 pt-5 my-5 text-center border-bottom">
      <h1 class="display-4 fw-bold">Üdv <%= data %> </h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4"><i>Már kezdheted is a rendelést</i></p>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
              <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3">Lorem</button>
              <button type="button" class="btn btn-outline-secondary btn-lg px-4">Ipsum</button>
          </div>
        </div>

        <div class="overflow-hidden" style="max-height: 30vh;">
          <div class="container px-5">
              <img src="bootstrap-docs.png" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
          </div>
        </div>
    </div>

      
      <div class="container">
        <div class="card">
                  <p class="lead mb-4">Tesztelődoboz</p>
      
                  Üdv!  <%= data %> <br>
                  Session tulajdonságai:
                  átadott user:  <%= session_var.username %>
                  session log :  <%= session_var.loggedIn %>
                  session User : <%= session_var.user.firstname %>

        </div>
    </div>
    
    
    <!-- Main-->

    <!-- Footer -->
    <%- include('../partials/footer'); %>
    <!-- Footer --> 

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

  </body>
</html>