<!doctype html>
<html lang="en">
  <head>
    <%- include('../partials/auth_head'); %>
  </%- include('../../src/class.js'); %>
  </head>

  
  <body> 
       <!-- Navbar -->
        <%- include('../partials/auth_navbar'); %>
       <!-- Navbar--> 
   
    <!-- Main-->

    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-bold"> <%=JSON.parse(Éttermek)[id-1]["Name"]%> </h1>
          <p class="lead text-muted"> <%=JSON.parse(Éttermek)[id-1]["RestaurantDesc"]%> </p>
          <p>
            <a href="#" class="btn btn-primary my-2"> Main call to action</a>
            <a href="#" class="btn btn-secondary my-2">Secondary action</a>
          </p>
        </div>
      </div>
    </section>


    <hr>
    <div class="container" >
      <div class="row py-lg-5">
        <div class="col col-4 col-lg-4"> 

          <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="logo">
            <div class="card-body">
              <h5 class="card-title fw-bold">   <%=JSON.parse(Éttermek)[id-1]["Name"]%></h5>
              <p class="card-text">  <%= JSON.parse(Éttermek)[id-1]["RestaurantDesc"]%></p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Stílus: <%= JSON.parse(Éttermek)[id-1]["Style"] %> </li>
              <li class="list-group-item fw-bold">Nyitvatartás: <%= JSON.parse(Éttermek)[id-1]["FromHour"] %> - <%= JSON.parse(Éttermek)[id-1]["ToHour"]%>: <%= JSON.parse(Éttermek)[id-1]["ToMinute"]%> </li>
              <li class="list-group-item text-center"></li>
            </ul>
            <div class="card-body">
              <a href="#" class="card-link">06 99 123 4567</a>
              <a href="#" class="card-link">x</a>
            </div>
          </div>
        </div>
        <div class="col col-lg-4 col-lg-8"> 
          <%= JSON.parse(IDk);%>
          <div class="row mb-2">
            <% var i = 0; %>
            <% JSON.parse(Kategóriák).forEach(function(Kat) {%>
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
              <div class="col p-4 d-flex flex-column position-static">
                <h2 class="mb-0"><%= Kat %></h2>
                <%=JSON.parse(IDk)[i++] %>
                <strong class="card-text mb-auto"> </strong>
                <a href="/categories?id=<%=JSON.parse(IDk)[i-1]%>&restID=<%=JSON.parse(Éttermek)[id-1]['RestaurantID']%>" class="stretched-link">  Megnézem</a>
              </div>
              <div class="col-auto d-none d-lg-block">
                <svg class="bd-placeholder-img" width="250" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Sample Image</text></svg>
      
              </div>
            </div>
            <%  }); %>
        </div>
      </div>
    </div>
    <!-- Main-->


    <!-- Footer -->
    <%- include('../partials/footer'); %>
    <!-- Footer --> 

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

  </body>
</html>